:host {
   .chart {
        /* width: 25vw; */
        height: 350px;
    }
    .f-8 {
        font-size: x-small;
    }
    .width{
        width: 350px;
    }
    .flex-gap-15{
        gap: 15px;
    }
}