<div class="container-fluid">
    <div class="mt-2 mb-2 text-center">
        <h5 class="font-monospace">Water Storage for all dams in Bhima Sub Basin. Last Updated: {{ lastUpdated }}</h5>
    </div>
    <div class="d-flex justify-content-center py-2">
        <ng-multiselect-dropdown class="width" [placeholder]="'Select Reservoir'" [settings]="dropdownSettings"
            [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)">
        </ng-multiselect-dropdown>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let item of chartResultData">
            <div id={{item.id}} class="chart"></div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-2">
        <span class="font-monospace text-muted f-8">Source: http://punefloodcontrol.com/</span>
    </div>
</div>