<div class="container">
  <div class="d-flex justify-content-center flex-gap-15">
    <span>
      <a class="pointer link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        (click)="toggle(false)">Reservoir Storage Status</a>
    </span>
    <span>
      <a class="pointer link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      (click)="toggle(true)">Covid Tracker</a>
    </span>
  </div>
</div>
<div [ngSwitch]="changePageBool">
  <app-reservoir *ngSwitchCase="false"></app-reservoir>
  <app-co-win *ngSwitchCase="true"></app-co-win>
</div>