<div class="container">
  <div class="d-flex justify-content-center flex-gap-15">
    <span>
      <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="">Reservoir Storage Status</a>
    </span>
    <span>
      <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" routerLink="covid">Covid Tracker</a>
    </span>
  </div>
</div>
<router-outlet></router-outlet>